.ixl-skin span.error {
  color: #ff0000;
  font-weight: bold;
}

#diagnosis {
  margin: 60px auto 20px;
  width: 616px;
}

#diagnosis em {
  font-weight: bold;
}

#diagnosis #kids.success {
  background-position: 0 0;
}
#diagnosis .diagnosisHd {
  width: 616px;
  height: 16px;
  background: url("../images/diagnosis_header.png") no-repeat;
  margin: 0;
}

#diagnosis .diagnosisBd {
  margin: 0;
  width: 616px;
  height: auto;
  background: url("../images/diagnosis_body.png") repeat-y;
}

#diagnosis .diagnosisFt {
  margin: 0;
  width: 616px;
  height: 13px;
  background: url("../images/diagnosis_footer.png") no-repeat;
}

#checkingForSolutions {
  display: none;
}

#checkingForSolutions.loading {
  display: block;
  padding: 20px 0 20px 23px;
  background: url("../../images/loading.gif") no-repeat;
  background-position: 0px 20px;
}

#diagnosis .diagnosisBd h2 {
  color: #6D9207;
  font: bold 24px Verdana, sans-serif;
  padding: 10px 0 20px 0;
}

#diagnosis ol {
  padding-top: 20px;
  padding-bottom: 20px;
}

#diagnosis .indentedBd {
  padding: 10px 20px 0 60px;
}

#diagnosis #contactTechnicalSupport {
  width: 616px;
  padding: 0 20px;
}

#diagnosis .firstMessage {
  padding-top: 20px;
}

#diagnosis .lastParagraph {
  padding-bottom: 20px;
}

#diagnosis .lastParagraph .crisp-button {
  margin-left: 5px;
}

#dgnButtons {
  padding-bottom: 20px;
}

#dgnClearCacheDialog .bd, #dgnIESecurityDialog .bd {
  text-align: left;
}

#dgnClearCacheDialog p, #dgnIESecurityDialog p {
  padding-bottom: 15px;
}

#dgnClearCacheDialog li, #dgnIESecurityDialog li {
  list-style: decimal;
  list-style-position: inside;
  font-weight: bold;
  color: #6D9207;
  padding: 0 0 5px 18px;
}

#dgnClearCacheDialog li span, #dgnIESecurityDialog li span {
  font-weight: normal;
  color: black;
}

#dgnClearCacheDialog li em,  #dgnIESecurityDialog li em{
  font-weight: bold;
  font-style: normal;
}
